body {
  min-width: 500px;
  max-width: 500px;
  overflow-x: hidden;
}

img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 75px;
  height: 75px;
}

.container {
  width: 100%;
}

.brand-bar {
  background: #2c3e50;
}

.brand-bar .brand {
  color: #fff;
  padding: 15px 0;
  margin: 0;
  text-align: center;
}

.url-card {
  background: #F5F5F5;
  border: 1px solid #DADADA;
  margin: 10px 0;
}

.title {
  vertical-align: middle;
  padding: 18px 0;
  margin: 0;
}

.title .page-title, .title .url {
  display: block;
  width: 370px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.url {
  display: block;
  margin: 0;
  line-height: 16px;
  font-size: 14px;
  font-weight: 200;
  color: #CDCDCD;
}

input, textarea {
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.tt-dropdown-menu {
  width: 181px;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
/*  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;*/
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 8px 20px;
  font-size: 14px;
  line-height: 18px;
}

.tt-suggestion.tt-cursor {
  background: #2c3e50;
  color: #fff;
}