body {
  min-width: 300px;
  max-width: 300px;
  overflow-x: hidden;
}

img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 50px;
  height: 50px;
}

.container {
  width: 100%;
}

.brand-bar {
  background: #2c3e50;
}

.brand-bar .brand {
  color: #fff;
  padding: 10px 0;
  margin: 0;
  text-align: center;
  font-size: 26px;
}

.url-card {
  background: #F5F5F5;
  border: 1px solid #DADADA;
  margin: 10px 0;
}

.title {
  vertical-align: middle;
  padding: 10px 0;
  margin: 0;
}

.title .page-title {
  font-size: 20px;
}

.title .page-title, .title .url {
  display: block;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.url {
  display: block;
  margin: 0;
  line-height: 14px;
  font-size: 12px;
  font-weight: 200;
  color: #CDCDCD;
}

input, textarea, select {
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

/**
 * Override select2 css
 */

.select2-container.form-control,
.select2-drop {
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}

.select2-container-multi .select2-choices {
  background-image: none;
}

.select2-results {
  padding: 0;
  margin: 0;
}

.select2-results .select2-highlighted {
  background: #2c3e50;
}

/*.select2-container-multi .select2-choices .select2-search-choice {
  background: #2c3e50;
  color: #fff;
}*/